 .content {
     width: 100%;
     min-height: 140px;
     height: 100%;
     resize: none;
 }

 @media (max-width: 600px) {
     .modalRoot {
         width: 100%;
         max-width: 100%;
         height: 100vh;
         max-height: 100vh;
         margin: 0;
         border-radius: 0;
     }

     .content {
         max-height: none;
     }
 }